@page "/customers"
@using Domain.Abstractions
@using Domain.Models
@using BlazorWebAssemblyApp.Shared

<h3>Customer List</h3>

<p>@message</p>

<LoaderComponent Items="@customers" Title="Loading Customers..."  >
    <ItemsTemplate>
       <ListItemsComponent Items="@customers">
           <ItemTemplate>
                <li>@context.Id @context.Name @context.Email</li>
           </ItemTemplate>
       </ListItemsComponent>
    </ItemsTemplate>
</LoaderComponent>
