@using Microsoft.AspNetCore.Components.Authorization

<ThemeCascadingValue>

    <CascadingAuthenticationState>

        <Router AppAssembly="@typeof(App).Assembly" OnNavigateAsync="@NavigateHandler">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <NotAuthorized>
                        <LayoutView Layout="@typeof(AuthorizeLayout)">
                            <p>Nie masz dostępu do strony</p>
                        </LayoutView>
                    </NotAuthorized>

                    <Authorizing>
                        <LayoutView Layout="@typeof(AuthorizeLayout)">
                            <p>Trwa uwierzytelnianie...</p>
                        </LayoutView>
                    </Authorizing>

                </AuthorizeRouteView>
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>

    </CascadingAuthenticationState>

</ThemeCascadingValue>

@code {

    private async Task NavigateHandler(NavigationContext context)
    {
        // Lazy load assemblies
        // https://learn.microsoft.com/en-us/aspnet/core/blazor/webassembly-lazy-load-assemblies?view=aspnetcore-9.0

        if (context.Path == "dashboard")
        {
            Console.WriteLine("Dashboard selected");
        }

       
    }

}